boto3
brave-search-python-client
chromadb
crawl4ai
faiss-cpu
httpx
litellm
mcp
mcp[cli]
mem0ai
mypy-boto3-sagemaker-runtime
numpy
ollama
prompt_toolkit
psutil
Pygments
PyPDF2
python-docx
qdrant-client
strands-agents
strands-agents-tools
tiktoken
uv