[Unit]
Description=Ollama VRAM Cleaner
After=ollama.service

[Service]
Type=oneshot
ExecStart=/PATH_TO_REPOSITORY/bash/ollama-freeup-vram/ollama_free_vram.sh

[Install]
WantedBy=multi-user.target
